<%= form_with model: @search, url: searches_update_path, method: :patch do |f| %>
  <%= render "shared/form_errors", form: f %>

  <div class="grid">
    <div>
      <%= f.label :name, "Doctor's name" %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :state %>
      <%= f.select(:state, @search.states) %>
    </div>
  </div>

  <%= f.submit "Search" %>
<% end %>
