<%= form_with model: @query,
              url: searches_create_path,
              method: :post,
              id: "search",
              data: { controller: "search" } do |f| %>

  <%= render "shared/form_errors", form: f %>

  <div class="grid">
    <div>
      <%= f.label :taxonomy_description, "Specialty" %>
      <%= f.select :taxonomy_description, @query.taxonomy_descriptions %>
      <%#= f.text_field :taxonomy_description %>
    </div>

    <div>
      <%= f.label :state %>
      <%= f.select(:state, @query.states) %>
    </div>

    <div>
      <%= f.label :city, "City (optional)" %>
      <%= f.text_field :city %>
    </div>
  </div>

  <div class="grid">
    <div>
      <fieldset>
        <legend>Gender:</legend>
        <%= f.label :gender_any do %>
          <%= f.radio_button :gender, "any", checked: true %>
          Any
        <% end %>
        <%= f.label :gender_m do %>
          <%= f.radio_button :gender, "M" %>
          Male
        <% end %>
        <%= f.label :gender_f do %>
          <%= f.radio_button :gender, "F" %>
          Female
        <% end %>
      </fieldset>
    </div>

    <div>
      <%= f.label :first_name, "First name (optional)" %>
      <%= f.text_field :first_name %>
    </div>

    <div>
      <%= f.label :last_name, "Last name (optional)" %>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <%= f.submit "Search" %>
<% end %>

<%= render 'wrapped_results', results: @results %>

<%= render 'show_more_button', results: @results %>
